.pills-component {
}

.pills-wrapper {
  background-color: #87CEFA;
  border: 2px solid #6A5ACD;
  border-radius: 5px;
  padding: 2px;
  margin: 2px;
}

.pills-value {
}

.pills-remove {
  padding: 0 4px;
}

.pills-remove:hover {
  cursor: pointer;
  font-weight: bold;
}
