.classpath
.project

.settings

src/main/webapp/test.jsp
src/main/webapp/jsapp/dist/
src/main/webapp/jsapp/avro/avrojson.js
src/test/resources/org/jhk/interested/serialization/avro/serializers.js
target